[Unit]
Description=Bind mount injected sort JS over original
After=network.target trim_main.service trim_file_monitor.service
Before=sort-sync-access.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sync_sort.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
