[Unit]
Description=EasePi A2 OLED Display (Go)
After=network.target
StartLimitIntervalSec=0
ConditionPathExists=/dev/i2c-3

[Service]
Type=simple
ExecStart=/usr/local/oled/oled --silent
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target